{% include 'head.html' %}

<body>

{% include 'menu.html' %}

<div class="container">

  <h1>About the Epigenome Switchboard</h1>

  <div>
    <p class="lead">The epigenome switchboard is a loosely coupled collection of web servers and data resources that together form a network for analysis of epigenome data. The data contained in the network is anything that can be represented as collections of genomic regions. The switchboard provides hubs that allow users to interact with the data through RESTful API endpoints, or via interactive web interface. Each hub can connect to one or more data providers, which can mix both public and private data sources, enabling users to integrate data from multiple sources and to place internal data in the context of public resources for analysis.</p>

  </div>

</div>

{% include 'foot.html' %}
