{% include 'head.html' %}

{% include 'menu.html' %}

<div class="container">

  <img src="static/images/epigenome_switchboard_logo_fade.svg" style="width:100%;" />

<div id="queryTypes">

<h1>Choose a query type:</h1>

  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#retrieveRegions" aria-expanded="false" aria-controls="retrieveRegions">Retrieve Regions</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#segfilt" aria-expanded="true" aria-controls="segfilt">Segmentation filter</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#segmentation-match" aria-expanded="true" aria-controls="segmentation-match">Segmentation match</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#query-annotations" aria-expanded="true" aria-controls="query-annotations">Query annotations</button>


  <div class="accordion-group">

  <div class="collapse col-sm-6 show" id="retrieveRegions" data-parent="#queryTypes">
    <h2>Retrieve regions</h2>
    <p class="lead">Use chromosome, start and end coordinates to retrieve regions.</p>
    <form method="POST" action="/get" class="from-inline">
    <div class="row">
			<div class="form-group col-md-6">
        <label for="chrom">Chromosome:</label><input type="text" name="chrom" id="chrom" class="form-control" />
      </div>
      <div class="form-group col-md-7">
        <label for="startval">Start Value:</label><input type="text" name="start" id="startval" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="stopval">Stop Value:</label><input type="text" name="stop" id="stopval" class="form-control" />
      </div>
      <button class="btn btn-primary btn-sm form-control">Search</button>
    </div>
    </form>
  </div>

 <div class="collapse col-sm-6" id="segfilt" data-parent="#queryTypes">
    <h2>Segmentation filter</h2>
    <p class="lead">Starting with a Segmentation, filter to a biologically relevant subset of regions.</p>
    <form method="POST" action="/segmentations">
      <div class="form-group">
        <label for="provider">Provider:</label>
          <select name="selected_provider" id="selected_provider" class="form-control" onchange="this.form.submit()">
            <option value="" selected> - Select a Provider - </option>
              {% for provider in provider_res %}
                <option value="{{ provider }}">{{ provider }}</option>
              {% endfor %}
          </select>

        <label for="segmentations">Segmentations:</label>
          <select name="segmentation_name" id="segmentation_name" class="form-control">
            <option value="" selected> - Select a segmentation - </option>
            {% for s in segm.result %}
              <option value="{{ s }}">{{ s }}</option>
            {% endfor %}
          </select>

      <div class="form-group">
        <button class="btn btn-primary btn-sm form-control">Search</button>
      </div>
    </form>
  </div>


 <div class="collapse col-sm-6" id="segmentation-match" data-parent="#queryTypes">
    <h2>Segmentation matcher</h2>
    <p class="lead">Given a region set, choose the best matching Segmentation.</p>
    <form method="POST" action="/get">
      <div class="input-group">
        <label for="regionIDs">Region IDs:</label><input type="file" name="start" id="regionIDs" class="form-control" />
        <button class="btn btn-primary btn-sm form-control" disabled>Search</button>
      </div>
    </form>
  </div>


 <div class="collapse col-sm-6" id="query-annotations" data-parent="#queryTypes">
    <h2>Query annotations</h2>
    <p class="lead">Use a starting point and ending point for a search across records.</p>
    <form method="POST" action="/get">
      <div class="input-group">
        <label for="regionIDs">Region IDs:</label><input type="text" name="start" id="regionIDs" class="form-control" disabled />
        <button class="btn btn-primary btn-sm form-control" disabled>Search</button>
      </div>
    </form>
  </div>

</div>
</div>
</div>

{% include 'foot.html' %}
