{% include 'head.html' %}

{% include 'menu.html' %}

<div data-minval="{{ minVal }}" data-maxval="{{ maxVal }}" data-midval="{{ midVal }}" data-step="{{ step }}"</div>

{% block head %}

<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

{% endblock %}

<div class="container">

<div class="row">

  <div class="col-md-3">
    <div class="navbar-light navbar-expand-md bs-sidebar hidden-print affix">
      <div id="toc-collapse" class="navbar-collapse collapse card">
        <h4 class="navhead">Query types</h4>
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#retrieveSegments" aria-expanded="false" aria-controls="retrieveSegments">Retrieve segments</button>
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#segfilt" aria-expanded="true" aria-controls="segfilt">Segmentation filter</button>
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#segmentation-match" aria-expanded="true" aria-controls="segmentation-match">Segmentation match</button>
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#query-annotations" aria-expanded="true" aria-controls="query-annotations">Query annotations</button>
      </div>
    </div>
  </div>


  <div id="queryTypes" class="col-md-9" role="main">
    <div class="accordion-group">
      {% if show_regions %}
      <div class="collapse col-sm-12 show" id="retrieveSegments" data-parent="#queryTypes">
      {% else %}
      <div class="collapse col-sm-12" id="retrieveSegments" data-parent="#queryTypes">
      {% endif %}
        <h2>Retrieve segments</h2>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#retrieveSegmentsModal" style="float: right;">
          Help
        </button>
        <p>Given chr, start and stop values, the hub returns any overlapping segments from all segmentation providers linked to this hub.</p>
        <form method="POST" action="/get" class="from-inline">
        <div class="row">
    	  <div class="form-group col-md-4">
            <label for="chrom">Chromosome:</label><input type="text" name="chrom" id="chrom" class="form-control" />
          </div>
          <div class="form-group col-md-4">
            <label for="startval">Start Value:</label><input type="text" name="start" id="startval" class="form-control" />
          </div>
          <div class="form-group col-md-4">
            <label for="stopval">Stop Value:</label><input type="text" name="stop" id="stopval" class="form-control" />
          </div>
          <button class="btn btn-primary btn-sm form-control">Search</button>
        </div>
        </form>
      </div>

      {% if show_segmentations %}
      <div class="collapse col-sm-12 show" id="segfilt" data-parent="#queryTypes">
      {% else %}
      <div class="collapse col-sm-12" id="segfilt" data-parent="#queryTypes">
      {% endif %}
        <h2>Segmentation filter</h2>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#segmentationFilterModal" style="float: right;">
          Help
        </button>
        <p>Starting with a Segmentation, filter to a biologically relevant subset of regions.</p>
        <form method="POST" action="/segmentations">
          <div class="form-group">

            <p>Provider:</p>
              <select name="selected_provider" id="selected_provider" class="form-control" onchange="this.form.submit()">
                {% if providerUrl is defined %}
                <option value="{{providerUrl}}" selected>{{ providerUrl }}</option>
                {% else %}
                <option value="" selected> - Select a provider - </option>
                {% endif %}
                {% if (provider_res is defined) and provider_res %}
                  {% for provider in provider_res %}
                    <option value="{{ provider.url }}">{{ provider.name }}</option>
                  {% endfor %}
                {% endif %}
              </select>
            <br>

            <p>Segmentations:</p>
              <select name="segmentation_name" id="segmentation_name" class="form-control" onchange="this.form.submit()">
                {% if segmName is defined %}
                <option value="{{segmName}}" selected>{{segmName}} </option>
                {% else %}
                <option value="" selected> - Select a segmentation - </option>
                {% endif %}
                {% if (segm is defined) and segm %}
                  {% for s in segm.result %}
                    <option value="{{providerUrl}}!{{s}}">{{ s }}</option>
                  {% endfor %}
                {% endif %}
              </select>
            <br>

            <div id="experiment-region">
              <p>Experiments:</p>
                <div class="experiment1">
                  <select name="experiment_name" id="experiment_name" class="form-control" onchange="this.form.submit()">
                    {% if expName is defined %}
                      <option value="{{expName}}" selected>{{expName}} </option>
                    {% else %}
                      <option value="" selected> - Select an experiment - </option>
                    {% endif %}
                    {% if (exps is defined) and exps %}
                      {% for s in exps.result %}
                        <option value="{{providerUrl}}!{{segmName}}!{{s}}">{{ s }}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <br>

                  <p style="margin-left: 20px;">Experiment Rules:</p>
                    <div class="slider-region"></div>
                    <button type="button" class="addOR btn btn-link" id="experiment1" style="margin-left: 10px;">Add OR</button>
                  <hr />
                </div>
            </div>

            <a id="addExperiment"><button type="button" class="btn btn-secondary">Add Experiment</button></a>


          </div>
          <button class="btn btn-primary btn-sm form-control" id="search-segmentation-filter">Search</button>
        </form>

          <script>
            // Add OR
            var rule_count = 1;
            $(document).on('click', '.addOR', function(){
              var this_rule = "slider" + (rule_count++).toString();
              // JavaScript ES6 template string
              var experiment_region = "." + $(this).attr('id') + " .slider-region";

              console.log(experiment_region);
              var new_slider = `
                <div class="row" style="margin-left:20px;">
                  <select name="Filter" class="form-control" style="width:40px;">
                    <option value="ge">&ge;</option>
                    <option value="le">&le;</option>
                    <option value="eq">&equals;</option>
                  </select>

                  <input class="slider_value form-control col-2" id="${this_rule}" value="{{midVal}}" style="text-align: center;" oninput="slider_value(this.id, this.value)">
                  <input type="range" min="{{minVal}}" max="{{maxVal}}" value="{{midVal}}" class="slider col-2" id="myRange" step="{{step}}" name="${this_rule}" oninput="show_value(this.name, this.value);">
                  <button type="button" class="col-3 addAND btn btn-link" style="margin-left: 20px;">Add AND</button>
                  <button type="button" class="close" style="margin-left:40px;"><span aria-hidden="true">&times;</span></button>
                </div>`;
              $(experiment_region).append(new_slider);
            });
            // for displaying slider values in the text box and vice versa
            function show_value(name, value){
              document.getElementById(name).value = value;
            }
            function slider_value(name, value){
              var element_name = 'input[name='+name+']';
              $(element_name).val(parseFloat(value));
              $(element_name).trigger('change');
            }


            // Add AND
            $(document).on('click', '.addAND', function(){
              var row = $(this).parent();
              $(this).remove();
              var this_rule = "slider" + (rule_count++).toString();
              var closeButton = row.children().last();
              $(`<p style="margin: 5px 20px 5px 20px; text-align:">AND</p>
                  <select name="Filter" class="form-control" style="width:40px;">
                    <option value="ge">&ge;</option>
                    <option value="le">&le;</option>
                  </select>

                  <input class="slider_value form-control col-2" id="${this_rule}" value="{{midVal}}" style="text-align: center;" oninput="slider_value(this.id, this.value)">
                  <input type="range" min="{{minVal}}" max="{{maxVal}}" value="{{midVal}}" class="slider col-2" id="myRange" step="{{step}}" name="${this_rule}" oninput="show_value(this.name, this.value);">`
              ).insertBefore(closeButton);
            });


            // Remove Rule
            $(document).on('click', '.close', function(){
              $(this).parent().remove();
            });


            // Add Experiment
            var experiment_count = 1;
            $(document).on('click', '#addExperiment', function(){
              var experiment_id = "experiment" + (++experiment_count).toString();
              var new_experiment =  `
                <div class="${experiment_id}">
                  <select name="experiment_name" id="experiment_name" class="form-control" onchange="this.form.submit()">
                    {% if expName is defined %}
                      <option value="{{expName}}" selected>{{expName}} </option>
                    {% else %}
                      <option value="" selected> - Select an experiment - </option>
                    {% endif %}
                    {% if (exps is defined) and exps %}
                      {% for s in exps.result %}
                        <option value="{{providerUrl}}!{{segmName}}!{{s}}">{{ s }}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <br>

                  <p style="margin-left: 20px;">Experiment Rules:</p>
                    <div class="slider-region"></div>
                    <button type="button" class="addOR btn btn-link" id="${experiment_id}" style="margin-left: 10px;">Add OR</button>
                  <hr />
                </div>`;
              $('#experiment-region').append(new_experiment);
            });
          </script>
    </div>
    </div>


    <div class="collapse col-sm-12" id="segmentation-match" data-parent="#queryTypes">
      <h2>Segmentation match</h2>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#segmentationMatchModal" style="float: right;">
        Help
      </button>
      <p>Given a region set, choose the best matching Segmentation.</p>
      <form method="POST" action="/get">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
          <button class="btn btn-primary btn-sm form-control" disabled>Search</button>
      </form>
    </div>


    <div class="collapse col-sm-12" id="query-annotations" data-parent="#queryTypes">
      <h2>Query annotations</h2>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#queryAnnotationsModal" style="float: right;">
        Help
      </button>
      <p>Use a starting point and ending point for a search across records.</p>
      <form method="POST" action="/annotations">
        <div class="input-group">
          <label for="regionIDs">Region IDs:</label><input type="text" name="regionID" id="regionID" class="form-control"/>
          <button class="btn btn-primary btn-sm form-control">Search</button>
        </div>
      </form>
    </div>

  </div>
</div>


<!-- Modals for detailed help instructions -->
<div class="modal fade" id="retrieveSegmentsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Instructions for retrieving segments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Given chr, start and stop values, the hub returns any overlapping segments from all segmentation providers linked to this hub.</p>

        <p>You can find more detailed explanation in the <a href="http://code.databio.org/episb/howto-query-provider/">episb query modes documentation</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="segmentationFilterModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Instructions for segmentation filter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>A segmentation is a collection of genomic regions that divides the genome into non-overlapping regions of interest. The segmentation filter allows a user to take a given segmentation and filter it using custom criteria. You should use the segmentation filter to reduce a segmentation to a subset that is specific for a particular biological question.</p>

        <p>You can find more detailed explanation in the <a href="http://code.databio.org/episb/howto-query-provider/">episb query modes documentation</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="segmentationMatchModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Instructions for segmentation match</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>The segmentation match query allows a user to upload a set of genomic regions (such as a BED file) and it will return the best segmentation for those regions. You should use the segmentation match to determine the best way to normalize your region set to an existing segmentation, so that you can better integrate with existing data resources.</p>

        <p>You can find more detailed explanation in the <a href="http://code.databio.org/episb/howto-query-provider/">episb query modes documentation</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="queryAnnotationsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Instructions for annotation query</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>The annotation query allows a user to identify all experimental annotations for a given segment. This query is useful to provide all information in the database about a particular locus. You should use this query when you are investigating a particular gene or regulatory element and want to know about all available experimental data that covers your region of interest.</p>

        <p>You can find more detailed explanation in the <a href="http://code.databio.org/episb/howto-query-provider/">episb query modes documentation</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
{% include 'foot.html' %}
