{% include 'head.html' %}

{% include 'menu.html' %}

<div class="container">

  <h1>Region Results</h1>

  <div style="margin-bottom:6rem;">
    <table class="table">

      <tr></tr>
      <td>Found:</td>
      <td><a href="http://episb.org/api/v1/region/{{chrom}}/{{start}}/{{stop}}"><button style="margin-right:1em;" class="btn btn-xs btn-primary">API</button></a>  <code>http://episb.org/api/v1/region/{{chrom}}/{{start}}/{{stop}}</code></td>

    </table>
  </div>

  <div>
    <p class="lead">Results from {{chrom}}-{{start}}-{{stop}}</p>

    <input class="form-control" id="searchInput" type="text" placeholder="Filter..." style="margin-bottom:10px;">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>SegID</th>
          <th>SegChr</th>
          <th>SegStart</th>
          <th>SegEnd</th>
        </tr>
      </thead>
      <tbody id="retTable">
      {% for index in query_json.result %}
        <tr>
          <td>{{ index.segID }}</td>
          <td>{{ index.segChr }}</td>
          <td>{{ index.segStart }}</td>
          <td>{{ index.segEnd }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% include 'foot.html' %}
